name: GitHub Clone Count Update
true:
  schedule:
  - cron: 0 */24 * * *
  workflow_dispatch: null
jobs:
  clone-count:
    runs-on: ubuntu-latest
    if: github.repository == 'sap/e-mobility-charging-stations-simulator'
    steps:
    - uses: actions/checkout@v5
    - name: gh login
      run: echo "${{ secrets.SECRET_TOKEN }}" | gh auth login --with-token
    - name: parse latest clone count
      run: "curl --user \"${{ github.actor }}:${{ secrets.SECRET_TOKEN }}\" \\\n \
        \ -H \"Accept: application/vnd.github.v3+json\" \\\n  https://api.github.com/repos/${{\
        \ github.repository }}/traffic/clones \\\n  > clone.json\n"
    - name: create gist and download previous count
      id: set-gist
      run: "if gh secret list | grep -q \"GIST_ID\"\nthen\n    echo \"GIST_ID found\"\
        \n    echo \"GIST=${{ secrets.GIST_ID }}\" >> $GITHUB_OUTPUT\n    curl https://gist.githubusercontent.com/${{\
        \ github.actor }}/${{ secrets.GIST_ID }}/raw/clone.json > clone_before.json\n\
        \    if cat clone_before.json | grep '404: Not Found'; then\n      echo \"\
        GIST_ID not valid anymore. Creating another gist...\"\n      gist_id=$(gh\
        \ gist create clone.json | awk -F / '{print $NF}')\n      echo $gist_id |\
        \ gh secret set GIST_ID\n      echo \"GIST=${gist_id}\" >> $GITHUB_OUTPUT\n\
        \      cp clone.json clone_before.json\n      git rm --ignore-unmatch CLONE.md\n\
        \    fi\nelse\n    echo \"GIST_ID not found. Creating a gist...\"\n    gist_id=$(gh\
        \ gist create clone.json | awk -F / '{print $NF}')\n    echo $gist_id | gh\
        \ secret set GIST_ID\n    echo \"GIST=${gist_id}\" >> $GITHUB_OUTPUT\n   \
        \ cp clone.json clone_before.json\nfi\n"
    - name: update clone.json
      run: 'curl https://raw.githubusercontent.com/MShawon/github-clone-count-badge/master/main.py
        > main.py

        python3 main.py

        '
    - name: update gist with latest count
      run: "content=$(sed -e 's/\\\\/\\\\\\\\/g' -e 's/\\t/\\\\t/g' -e 's/\\\"/\\\\\
        \"/g' -e 's/\\r//g' \"clone.json\" | sed -E ':a;N;$!ba;s/\\r{0,1}\\n/\\\\\
        n/g')\necho '{\"description\": \"${{ github.repository }} clone statistics\"\
        , \"files\": {\"clone.json\": {\"content\": \"'\"$content\"'\"}}}' > post_clone.json\n\
        curl -s -X PATCH \\\n  --user \"${{ github.actor }}:${{ secrets.SECRET_TOKEN\
        \ }}\" \\\n  -H \"Content-Type: application/json\" \\\n  -d @post_clone.json\
        \ https://api.github.com/gists/${{ steps.set-gist.outputs.GIST }} > /dev/null\
        \ 2>&1\n\nif [ ! -f CLONE.md ]; then\n  shields=\"https://img.shields.io/badge/dynamic/json?color=success&label=Clone&query=count&url=\"\
        \n  url=\"https://gist.githubusercontent.com/${{ github.actor }}/${{ steps.set-gist.outputs.GIST\
        \ }}/raw/clone.json\"\n  repo=\"https://github.com/MShawon/github-clone-count-badge\"\
        \n  echo ''> CLONE.md\n  echo '\n  **Markdown**\n\n  ```markdown' >> CLONE.md\n\
        \  echo \"[![GitHub Clones]($shields$url&logo=github)]($repo)\" >> CLONE.md\n\
        \  echo '\n  ```\n\n  **HTML**\n  ```html' >> CLONE.md\n  echo \"<a href='$repo'><img\
        \ alt='GitHub Clones' src='$shields$url&logo=github'></a>\" >> CLONE.md\n\
        \  echo '```' >> CLONE.md\n\n  git config --local user.name \"GitHub Action\"\
        \n  git config --local user.email \"action@github.com\"\n  git add CLONE.md\n\
        \  git commit -m \"docs: create clone count badge\"\nfi\n"
    - name: push
      uses: CasperWA/push-protected@v2
      with:
        token: ${{ secrets.SECRET_TOKEN }}
